@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background: #fafafa;

  padding: 24px 0;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 20px;
  /* border: 2px solid red; */
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}
.nav_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}
.nav-tex,
.nav-tex:visited {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  transition: 0.3s;
}
.nav-tex:hover,
.nav-tex:active {
  color: #000000;
}
.supra {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-top: 104px;
  background: url(../images/supra.png);
  padding-bottom: 268px;
  background-repeat: no-repeat;
}
.p-1 {
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 35px;
}
.p-2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 45px;
}
button {
  border: none;
  cursor: pointer;
}
.qtn {
  padding-top: 80px;
}
.qtn1 {
  /* background: #ffa62b; */
  border-radius: 37px;
  padding: 10px 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #00a0c1;
}
.qtn1:hover {
  background: #ffa62b;
}
.qtn2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #00a0c1;
  border-radius: 37px;
  padding: 10px 36px;
}
.qtn2:hover {
  background: #ffa62b;
}
.vector-box {
  padding-bottom: 14px;
}
.vector-content .vector {
  width: 340px;
  height: 210px;
}
.vectors {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: -200px;
}
/* .vector:hover .vector-polo {
  color: #ffffff;
} */
.p-3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
  padding-bottom: 14px;
}
.p-4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.vector {
  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 35px 40px 35px 40px;
  transition: 0.3s;
  margin-bottom: 112px;
}
.vector:hover {
  background: #00a0c1;
}
.vector:hover .p-3 {
  color: #ffffff;
}
.vector:hover .p-4 {
  color: #ffffff;
}
.vector-content {
  justify-content: space-between;
}
.about {
  background: #fafafa;
}
.about-head {
  justify-content: center;
  gap: 32px;
}
.p-5 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
}
.p-6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-bottom: 50px;
}
.about-content .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 38px;
}
.about-content .icon {
  background: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 30px 32px;
  width: 230px;
  height: 209px;
  text-align: center;
}
.about-content .icon:hover {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.about-content {
  padding: 80px 0;
}
.p-7 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.p-8 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.p-9 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
}
.p-10 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: center;
  padding-bottom: 45px;
}
.advice-content .cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.advice-content {
  background: #fafafa;
  padding: 125px 0 101px;
}
.advice {
  background: #fafafa;
}
.card {
  background: #ffffff;
}
.p-11 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-bottom: 15px;
}
.p-12 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-bottom: 30px;
}
.p-13 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.p-14 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.ofice {
  display: flex;
  gap: 121px;
}
.p-14 {
  padding-bottom: 100px;
}
.p-15 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-bottom: 10px;
}
.p-16 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-bottom: 51px;
}
.p-17 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.p-18 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-bottom: 30px;
}
.flag-2 {
  display: flex;
  gap: 21px;
  align-items: start;
}
.flag-4 {
  display: flex;
  gap: 21px;
  align-items: start;
}
.service-content {
  padding: 100px 0 157px;
}
.face-content {
  background: #fafafa;
  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  /* padding: 58px 85px; */
}
.facec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 58px 85px;
}
.face {
  background: #fafafa;
}
.searc {
  background: #16697a;
  border-radius: 2px;
  padding: 33px 51px;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  /* gap: 240px; */
  align-items: center;
}
.searc-to {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.searc-jo input {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
  /* padding-left: 20px;  */
  padding-left: 20px;
  flex-grow: 2;
  border: none;
  outline: none;
}
.form {
  border-radius: 5px;
  display: flex;
  width: 450px;
  height: 58px;
}
.searc-jo button {
  background: #ffa62b;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 15px 22.5px 15px 22.5px;
  border-radius: 0 5px 5px 0;
}
.savage {
  background: #f3f3f3;
}
.savage-content {
  padding: 80px 0 208px;
}
.savage_bro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p34 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
  margin-bottom: 10px;
}
.p35 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 80px;
}

.versace {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
}
.versace12 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
  flex: none;
  flex-grow: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}
.versace13 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffa62b;
  flex: none;
  flex-grow: 0;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid #ffa62b;
  border-radius: 5px;
}
.savage_pro {
  width: 328px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  padding: 40px 40px;
  transition: 0.3s;
  cursor: pointer;
}
.savage_pro:hover {
  background: #252b42;
}
.savage_pro:hover .versace {
  color: #ffffff;
}
.savage_pro:hover .versace12 {
  color: #ffffff;
}
.savage_pro:hover .versace13 {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.savage_bro {
  gap: 29px;
}
.versace_ola {
  margin-bottom: 15px;
}
.shark {
  background: #fafafa;
}
.shark-page {
  padding: 100px 0 59px 0;
}
.shark-name input {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #828282;
  padding-left: 20px;
  width: 1050px;
  height: 50px;
  border: 1px solid #e0e0e0;
  margin-bottom: 5px;
}
.shark-email input {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #828282;
  padding-left: 20px;
  width: 1050px;
  height: 50px;
  border: 1px solid #e0e0e0;
  margin-bottom: 5px;
}
.shark-phonenumber input {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #828282;
  padding-left: 20px;
  width: 1050px;
  height: 50px;
  border: 1px solid #e0e0e0;
  margin-bottom: 5px;
}
.shark-comment input {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #828282;
  padding-left: 20px;
  width: 1050px;
  height: 156px;
  border: 1px solid #e0e0e0;
  margin-bottom: 5px;
  padding-bottom: 110px;
}
.shark-select {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
  padding-left: 20px;
  width: 1050px;
  height: 50px;
  border: 1px solid #e0e0e0;
  margin-bottom: 59px;
}
.shark-a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.shark-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 15px 40px;
  background: #ffa62b;
  border-radius: 5px;
  width: 163px;
  height: 58px;
  transition: 0.3s;
  cursor: pointer;
}
.shark-link:hover {
  background-color: #ffffff;
  color: #ffa62b;
}
.usas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.usa ul {
  list-style-type: none;
}
.socials {
  background: #16697a;
}
.social-content {
  padding: 50px 0 87px 0;
}
.jacob-co {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 20px;
}
.usa .link9 {
  margin-bottom: 20px;
}
.fox {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 10px;
}
.usa .link10 {
  padding-bottom: 10px;
}
.usa .vonder {
  padding: 5px;
}
.vonder {
  display: flex;
  gap: 10px;
  padding-top: 5px;
}
.book {
  background: #fafafa;
}
.kards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book-content {
  padding: 25px 0 19px 0;
}
.hub {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.obama {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  flex: none;
  order: 0;
  flex-grow: 0;
}
